<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Covid19 Sentiment</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

  
</head>

<body>
 <div class="login">
    <h1>Welcome to June's Page!</h1>
	<h2>Covid19 Sentiment Prediction</h2>
    <p> -This model is trained on BOW (Bag of Words).<br>
        Thus, it is sensitive to new words.<br>
        Here are some top common keywords used in training :<br>
    
        <img src= "{{ url_for("static", filename = "words.png") }}" height="400px" width="700px"/><br>
        (Including keywords with your emotion may result in more accurate prediction)<br>
    </p>
    Show your expression about COVID-19 : 
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{url_for('predict')}}"method="post">
      <input type="text" name="stringdata" placeholder="Type your sentence..." required="required" /><br>
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <!-- <br>
 </div>
 Given sentence : {{input_text}} -->
 <br>
 Predicted sentiment : {{prediction_text}}

</body>
</html>
